@charset "UTF-8";
/* Body */


/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url("../images/baner_01.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	
	
	
}


.bannerdos {
	background-color: #2D9AB7;
	background-image: url("../images/baner_02.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	
	
	
}

.bannertres {
	background-color: #2D9AB7;
	background-image: url("../images/baner_03.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	
	
	
}

.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
