*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	
}



.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	
.social ul li .icon-user-plus {background: #003063;}/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-user-minus {background:#003063;} 
.social ul li .icon-office {background:#003063;} 
.social ul li .icon-calendar {background:#003063;} 
	.social ul li .icon-envelop {background: #003063;}
	.social ul li .icon-pencil {background: #003063;}

	.social ul li .icon-facebook {background: #0a6dff;}
.social ul li .icon-instagram {background: #8a0afb;}
.social ul li .icon-youtube {background: #FF0000;}
.social ul li .icon-tiktok {background: #000000;}


	.social ul li a:hover {
		background: #00955d; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}@charset "utf-8";
/* CSS Document */





/* CSS INICIA BOTON QUE GIRA */


:root{

 --radio : 100px;

 }

 .anillo-cont {

    height: 200px;

    width: 100%;

    position: relative;

 }

 *,

 *::before,

 *::after {

    box-sizing: border-box;

 }

.anillo-animado,

 .anillo-animado::before, 

 .anillo-animado::after{

    border-radius:50%;

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

 }

.anillo-animado {


	
    background:#015a59;

    color: white;   /*color lineas*/

    display:flex;         /*para centrar el texto*/

    justify-content:center;

    align-items:center;

    text-align:center;

    width: var(--radio);

    height: var(--radio);

    margin: auto;        /*situar en el centro de su conenedor*/

    padding: 4px;

 }

/* Anillo: box before y after rounded 50% */

/* Se usa clip-path para formar el sector circular  */

.anillo-animado::before, 

.anillo-animado::after {

    content: "";

    z-index: -1;

    margin: -10px;     /*separación entre lineas y caja*/

    border: 4px solid #003063 ; /*grosor y color de la linea animada*/

    animation: girar-anillo 10s linear infinite; /*Opciones de la animación*/

    clip-path:polygon(50% 50%, 70% 100%, 0% 100%); /*Sector de anillo*/

    background:withe;

 }

/*Delay para que no se muevan al mismo tiempo: 1/2 de la duración total*/

.anillo-animado::before {

    animation-delay: -5s;

 }

@keyframes girar-anillo {

   0% {

      transform: rotate(0deg);

   }

   100% {

    transform: rotate(359deg);

   }

}

/* CSS TERMINA BOTON QUE GIRA */


/* CSS inicia zoom en imagenes */


.image-container {

  overflow: hidden;

}

.zoomable-image {

  transition: transform 0.3s ease;

}

.zoomable-image:hover {

  transform: scale(1.2);

}


/* CSS TERMINA zoom en imagenes */






